<div class="wrapper" ng-controller="todos" data-margin>
  <form id="todo_add" ng-submit="addTodo($event)" ng-class="{ 'is-active': isActive }">
    <h2 style="margin-bottom: 2rem; color: rgb(var(--slate_700))">Add new todo</h2>
    <div class="control_wrap">
      <label for="description">Description</label>
      <textarea type="text" name="description" id="description" class="control" required rows="6"></textarea>
    </div>
    <button type="submit" class="btn btn-mui">Add Todo</button>
  </form>
  <div class="container grid" data-has-padding style="--padding: 0.75rem">
    <ul class="todos">
      <li class="todo-item" ng-repeat="todo in todos | statusFilter: status" ng-class="{ 'done': todo.completed }">
        <button class="actionbtn" ng-click="toggleStatus(todo)">
          <span class="material-symbols-rounded" ng-if="!todo.completed"> check_box_outline_blank </span>
          <span class="material-symbols-rounded" ng-if="todo.completed"> check_box </span>
        </button>
        <h5 class="date">{{todo.doc | date:'dd/MM/yyyy'}}</h5>
        <p class="content">{{todo.description}}</p>
      </li>
    </ul>
    <div class="controls">
      <div class="control_wrap">
        <label for="filter">Filter</label>
        <input type="text" ng-model="titleStr" id="filter" name="filter" class="control" placeholder="Enter text" />
        <button ng-click="getFilteredData($event)" class="btn btn-mui" style="width: fit-content; margin-top: 1rem;">Fetch</button>
      </div>
      <!-- <div class="control_wrap">
        <span>Filter by</span>
        <div class="tabs">
          <button class="tab selected" ng-click="filterBy = 'title'" ng-class="{ 'selected': filterBy === 'title' }">Title</button>
          <button class="tab" ng-click="filterBy = 'date'" ng-class="{ 'selected': filterBy === 'date' }">Date</button>
        </div>
      </div> -->
      <div class="control_wrap">
        <span>Status</span>
        <div class="tabs">
          <button class="tab" ng-click="status = 'all'" ng-class="{ 'selected': status === 'all' }">All</button>
          <button class="tab" ng-click="status = 'complete'" ng-class="{ 'selected': status === 'complete' }">Complete</button>
          <button class="tab" ng-click="status = 'incomplete'" ng-class="{ 'selected': status === 'incomplete' }">Incomplete</button>
        </div>
      </div>
    </div>
  </div>
</div>
