@import url("./material.css");
:root {
  --slate_400: 148, 163, 184;
  --slate_700: 51, 65, 85;
  --slate_300: 203, 213, 225;
  --blue_500: 59, 130, 246;
  --blue_500_fade: 79, 143, 246;
  --blue_700: 29, 78, 216;
  --num-cols: 2;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: monospace;
}
.material-symbols-rounded {
  font-size: 25px;
  font-weight: 300;
}
.link {
  color: rgb(var(--blue_500));
  text-decoration: underline;
  text-underline-offset: 2px;
}
input,
textarea {
  border: none;
  outline: none;
}
div[data-margin] {
  margin-top: 5.5rem;
}

nav.navbar {
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 0.5rem;
  background-color: #cbd5e151;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  z-index: 4;
  position: fixed;
  top: 0px;
  left: 0px;
}
.nav-link {
  color: rgb(var(--slate_700));
  background-color: transparent;
  padding: 0.7rem 1rem;
  border-radius: 0.5rem;
  text-decoration: none;
  transition-property: background-color;
  transition-duration: 0.25s;
  transition-timing-function: ease-in-out;
}
/* .nav-link:last-child {
  margin-right: 1rem;
} */
.nav-link:hover {
  background-color: rgba(var(--slate_400), 0.12);
}

.container[data-has-padding] {
  padding: var(--padding);
}
.container.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container.grid {
  display: grid;
  gap: 0.75rem;
  grid-template-columns: repeat(var(--num-cols), 1fr);
}
.title {
  font-size: 3rem;
  margin-bottom: 1rem;
}
#register,
#login, #profile {
  width: 50%;
  height: fit-content;
}
.control {
  background-color: transparent;
  padding: 0.75rem 1rem;
  font-size: 15px;
  border-radius: 0.25rem;
  border: 1px solid rgb(var(--blue_500));
  color: rgb(var(--blue_500));
}
.control:disabled{
  border-color: rgb(var(--slate_400));
  color: rgb(var(--slate_400));

}
textarea.control {
  resize: vertical;
}
.control_wrap {
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
button {
  background-color: transparent;
  outline: none;
  border: none;
}
button:not(:disabled){
  cursor: pointer;
}
.btn {
  transition-property: color, background-color;
  transition-duration: 0.25s;
  transition-timing-function: ease-in-out;
}
.btn.icon-btn {
  width: 45px;
  height: 45px;
  border-radius: 0.3rem;
  background-color: rgb(var(--slate_400), 0.1);
}
.btn:not(:disabled).icon-btn:hover {
  background-color: rgb(var(--slate_400), 0.2);
}
.btn.btn-mui {
  color: white;
  background-color: rgb(var(--blue_500_fade));
  padding: 0.8rem 1.2rem;
  border-radius: 25px;
}

.btn:not(:disabled).btn-mui:hover {
  background-color: rgb(var(--blue_500));
}
.alert {
  width: fit-content;
  height: fit-content;
  padding: 1.2rem 2rem;
  position: fixed;
  font-size: 20px;
  bottom: 3rem;
  right: 3rem;
  border: 1px solid;
  border-radius: 0.5rem;
}
.success {
  color: #34d399;
  border-color: #34d399;
  background-color: rgba(52, 211, 153, 0.05);
}
.todos {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-height: calc(100vh - 7rem);
  overflow-y: auto;
  padding-block: 1rem;
}
.todo-item {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  position: relative;
  gap: 1.2rem;
  width: 100%;
  height: fit-content;
  padding: 2.25rem 1.2rem 1.2rem 1.2rem;
  /* padding-top: 2.25rem; */
  border-bottom: 1px solid rgba(var(--slate_700), 0.5);
}
.todo-item .date {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1rem;
  color: rgb(var(--slate_400));
}
.todo-item .content {
  font-size: 1rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.todo-item.done .content{
  text-decoration: line-through;
}
.actionbtn {
  background-color: transparent;
  width: 35px;
  height: 35px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  z-index: 2;
  flex-shrink: 0;
  color: rgb(var(--blue_500_fade));
}
.done .actionbtn {
  color: #34d399;
}
.actionbtn:hover {
  background-color:  rgba(var(--slate_400), 0.2);
}

#todo_add {
  background-color: rgba(var(--slate_400), 0.1);
  border-radius: 1rem;
  position: fixed;
  top: 7rem;
  right: 3rem;
  z-index: 4;
  width: 400px;
  padding: 2rem 1.5rem;
  height: fit-content;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  /* opacity: 0;
  visibility: hidden; */
  transform: translateX(200%);
  transition-property: opacity, visibility, transform;
  transition-duration: 0.75s;
  transition-timing-function: ease-in-out;
}
#todo_add.is-active {
  opacity: 1;
  visibility: visible;
  transform: translateX(0%);
}
#todo_add .control {
  background-color: white;
}
.controls{
  padding: 3rem 1.7rem;
  border-radius: 0.7rem;
  /* background-color: rgb(var(--slate_400), 0.1); */
}
.tabs{
  padding: 0.7rem;
  width: fit-content;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background-color: rgb(var(--slate_400), 0.1);
}
.tab{
  padding: 0.7rem 1rem;
  width: fit-content;
  height: 100%;
  background-color: rgba(var(--slate_300), 0.3);
  border: 1px solid transparent;
}
.tab.selected{
  border-color: rgb(var(--blue_500));
  color: rgb(var(--blue_500));
}
.tab:first-child{
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}
.tab:last-child{
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}
/* .controls .control{
  background-color: white;
} */

#editbtn{
  position: absolute;
  padding-inline: 2rem;
  top: 1rem;
  right: 1rem;
}
@media screen and (width <= 540) {
  .container.grid {
    --num-cols: 1;
  }
}
